<div class="container">
  <div class="row">
    <h1>Add your new skill</h1>
  </div>
  <div class="row">
    <%= simple_form_for @skill do |f| %>
      <%= f.input :name %>
      <%= f.input :unit_price %>
      <%= f.input :description %>
      <%= f.input :photo, as: :file %>
      <%= f.button :submit, 'Create Skill', class:'btn btn-primary'  %>
    <% end %>
  </div>

</div>

