<div class="container">
  <h1><%= @skill.name %></h1>
  <h2><%= @skill.unit_price %>€ per day</h2>
  <div class="container justify-content-center">
    <div class="image">
    <%= cl_image_tag @skill.photo.key %>
    </div>
    <p><%=@skill.description%></p>
    <% if @skill.user == current_user%>
      <%= link_to "Go to your dashboard", dashboard_path(@skill), class: "btn btn-primary" %>
    <% else %>
      <%= link_to "Book", new_skill_booking_path(@skill), class: "btn btn-primary" %>
    <% end %>
    
  </div>
</div>
