<div class="container text-center">
  <h1>Dashboard</h1>

  <!-- Partie pour les users -->
  <h2> Your bookings </h2>
  <% if @bookings.nil? %>
    <p> You have no booking </p>
  <% else %>
    <p>You currently have <%= @bookings.count%> booking waiting : </p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Skill</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Price per day</th>
          <th scope="col">Total Pricing</th>
          <th scope="col">Contact Craftsman</th>
        </tr>
      </thead>
      <tbody>
      <% counter = 0 %>
        <% @bookings.each do |booking|%>
          <% color_class = booking.confirmed ? "text-success" : "text-danger" %>
          <tr class="<%= color_class %>">
            <th scope="col"><%= counter += 1 %></th>
            <th scope="col"><%= booking.skill.name%></th>
            <th scope="col"><%= booking.start_date%></th>
            <th scope="col"><%= booking.end_date%></th>
            <th scope="col"><%= booking.skill.unit_price%></th>
            <th scope="col"><%= (((booking.end_date - booking.start_date)+ 1)*booking.skill.unit_price).to_i %>€</th>
            <th scope="col"><%= booking.skill.user.name%></th>
          </tr>
        <%end%>
      </tbody>
    </table>
  <% end %>



  <!-- partie pour les artisans -->
  <h2>Craftsman</h2>
  <% if @skills.nil? %>
    <%= link_to "Propose your skills", new_skill_path %>
    <p>Propose your skills</p>
  <% else %>
    <p>Manage your bookings</p>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Skill</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Price per day</th>
          <th scope="col">Total Pricing</th>
          <th scope="col">Confirmation</th>
        </tr>
      </thead>
      <tbody>
        <% counter = 0 %>
        <% @bookings_as_owner.each do |booking|%>
          <% color_class = booking.confirmed ? "text-success" : "text-warning" %>
          <tr class="<%= color_class %>">
            <% duration = (booking.end_date - booking.start_date).to_i %>
            <th scope="col"><%= counter += 1 %></th>
            <th scope="col"><%= booking.skill.name%></th>
            <th scope="col"><%= booking.start_date%></th>
            <th scope="col"><%= booking.end_date%></th>
            <th scope="col"><%= booking.skill.unit_price%></th>
            <th scope="col"><%= (((booking.end_date - booking.start_date)+ 1)*booking.skill.unit_price).to_i %>€</th>
            <th scope="col">
              <% if booking.confirmed  %>
                Confirmed
              <% else %>
                <%= link_to "Confirm",  confirm_booking_path(booking), method: :patch %>
              <% end %>
            </th>
          </tr>
        <%end%>
      </tbody>
    </table>
  <% end %>
</div>
