<div class="banner">
  <div class="container-xl">
    <div class="background-content">

        <h1>Do it yourself or ... RentArtisan !</h1>
        <br>
        <a href="<%=skills_path%>" class="btn btn-flat">Trouvez un artisan</a>
    </div>
  </div>
</div>


<div class="container-fluid bg-light p-9 m-6">
  <h2 class="text-center">
    Choisissez des artisans de confiance pour vos travaux.
  </h2>

  <p class="text-center">
    Sur RentArtisan, nous sélectionnons des artisans fiables et recommandés.<br>
    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
  </p>
</div>


<div class="content d-flex space-between">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-3 p-2">
      Paiement Sécurisé
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-2">
      Artisans sélectionnés
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-2">
      Service Client
    </div>
    <div class="col-12 col-md-6 col-lg-3 p-2">
      Devis fixe & fiable
    </div>
    This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    <i class="fas fa-user-shield"></i>

  </div>
</div>

<div class="container-fluid">
  <h2 class="text-left">
Nos artisans les plus recommandés
  </h2>


</div>






<div class="container-fluid">
  <div class="content d-flex space-between">
      <div class="row">
          <div class="col-12 col-md-6 col-lg-3 p-2">
              <%= image_tag "https://res.cloudinary.com/dvateiuot/image/upload/w_1000,ar_1:1,c_fill,g_auto,e_art:hokusai/v1610626349/Artisan_HomePage_v2_ewfoyp.jpg", width: 360, height: 300, crop: :fill %>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-2">
              <%= image_tag "https://res.cloudinary.com/dvateiuot/image/upload/v1610626349/HomePage_v6_p1la1c.jpg", width: 360, height: 300, crop: :fill %>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-2">
              <%= image_tag "https://res.cloudinary.com/dvateiuot/image/upload/v1610626349/Artisan_HomePage_v4_bwyqao.jpg", width: 360, height: 300, crop: :fill %>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-2">
              <%= image_tag "https://res.cloudinary.com/dvateiuot/image/upload/v1610626349/HomePage_v7_wgufsy.jpg", width: 360, height: 300, crop: :fill %>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-2">
              <%= image_tag "https://res.cloudinary.com/dvateiuot/image/upload/v1610626349/HomePage_v8_p9rdd4.jpg", width: 360, height: 300, crop: :fill %>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-2">
              <%= image_tag "https://res.cloudinary.com/dvateiuot/image/upload/v1610626349/HomePage_v10_ojayq5.jpg", width: 360, height: 300, crop: :fill %>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-2">
              <%= image_tag "https://res.cloudinary.com/dvateiuot/image/upload/v1610626349/HomePage_v9_sqshbw.jpg", width: 360, height: 300, crop: :fill %>
          </div>
          <div class="col-12 col-md-6 col-lg-3 p-2">
              <%= image_tag "https://res.cloudinary.com/dvateiuot/image/upload/v1610626349/HomePage_v10_ojayq5.jpg", width: 360, height: 300, crop: :fill %>
          </div>
      </div>
  </div>
</div>

